#contents
  %h2 院長の挨拶
  %img#imgAbout{alt: "越川治療院　院長：越川英次", src: "./images/koshikawaeiji.jpg"}
  %p#contentAbout
    越川治療院では、手技等による
    %em> 脊椎矯正
    を行っております。
    %br/
    %br/
    背骨（背柱）は32～34個の脊椎と呼ばれる骨からなっています。
    %br/
    日常生活において、長時間、座り続ける。体を捻っての作業
    %br/
    転倒などにより、背骨（背柱）に異常（捻り・まがり・などのくるい）
    %br/
    が起き、脊椎の間の神経が圧迫されて痛みになります。
    %br/
    （異常の起こる部位により頭痛・腰痛など）
    %br/
    痛みばかりでなく、症状として肩凝り、背中のはり
    %br/
    手足のしびれなどもあります。
    %br/
    %br/
    無理をしない矯正により脊椎を正常な位置にすることで
    %br/
    痛みを軽減することができるのです。
    %br/
    %br/
  #koshikawaeiji 越川治療院　院長　越川　英次
