#contents
  %h2 料金表
  %table#tableCharge{summary: "越川治療院　料金表です。"}
    %caption 料金表です。
    %tr
      %th#thChargeKind{colspan: "2"} 種別
      %th#thCharge 金額
    %tr
      %td{colspan: "2"} 初診
      %td
        4,200円(税込)
        %br>/
        (治療代を含みます)
    %tr
      %td{rowspan: "3"} 治療代
      %td 大人
      %td 2,100円(税込)
    %tr
      %td 中高生
      %td 1,575円(税込)
    %tr
      %td 子供
      %td 1,050円(税込)
