#contents
  %h2 よくある質問
  %p
    よくある質問コーナーです。この他にもご質問があれば、
    %a{href: "mail.html"}> お問い合わせ
    へよろしくお願い致します。
  %dl#dlFaq
    %dt 治療法は？
    %dd
      触診で、痛みの部位を脊柱の歪みや骨盤の曲がりなどから調べます。
      %br/
      その後、脈拍を測り　脊椎の矯正　一般的なマッサージを行います。
    %dt 治療は、痛い?
    %dd
      個人差がありますが、場合によっては痛いこともあります。
      %br/
      事前に説明をしてなるべく痛みのないように治療いたします。
    %dt 何回位でよくなるの？
    %dd
      痛みや症状が出てからの期間　日常生活（立ち仕事が多い･座り仕事が多いなど）によって 異なります。
      %br/
      一般的に痛くなってすぐであれば比較的早く改善しますが、慢性的な場合は回数は多くかかります。
    %dt 健康保険は、使えるの？
    %dd すべての保険が適用外です。
    %dt 予約制ですか？
    %dd いいえ、来院された順番に治療致します。
