#contents
  %h2 治療の流れ
  %p
    簡単な治療の流れです。症状により治療内容は変わります。
    %br>/
    すべての方に同じ治療を行うわけではありませんので、ここに表示されているすべてを行うとは限りません。
  %ol
    %li 脊椎矯正という治療の説明をします。
    %li 問診により、患者さんの痛みの箇所・つらい箇所・心配なこと等を聞きます。
    %li 触診により、痛みのある箇所・脊柱や骨盤の状態を調べます。
    %li 脈拍を調べます。
    %li 脊椎矯正を施術します。
  %h2 治療の流れを写真とともに紹介
  %ol#flow_image
    %li
      %h3 脊柱の曲がりを確認します
      %p
        %img{alt: "", height: "225", src: "images/flow01_P4263138.jpg", width: "300"}/
    %li
      %h3 頚椎の喰違いを確認します
      %p
        %img{alt: "", height: "300", src: "images/flow02_P4263142.jpg", width: "225"}/
    %li
      %h3 頚椎部の矯正を行います
      %p
        %img{alt: "", height: "300", src: "images/flow03_P4263160.jpg", width: "225"}/
    %li
      %h3 腰椎部の矯正を行います
      %p
        %img{alt: "", height: "225", src: "images/flow04_P4263153.jpg", width: "300"}/
    %li
      %h3 脊椎（胸椎）の矯正を行います
      %p
        %img{alt: "", height: "225", src: "images/flow05_P4263155.jpg", width: "300"}/
    %li
      %h3 腰椎の喰違いの矯正を行います
      %p
        %img{alt: "", height: "225", src: "images/flow06_P4263164.jpg", width: "300"}/
    %li
      %h3 腰椎の喰違いの矯正を行います
      %p
        %img{alt: "", height: "225", src: "images/flow07_P4263167.jpg", width: "300"}/
    %li
      %h3 背中・臀部のマッサージ・指圧を行います
      %p
        %img{alt: "", height: "225", src: "images/flow08_P4263183.jpg", width: "300"}/
    %li
      %h3 背中・臀部のマッサージ・指圧を行います
      %p
        %img{alt: "", height: "225", src: "images/flow09_P4263185.jpg", width: "300"}/
    %li
      %h3 頚椎の曲がりを確認し矯正を行います
      %p
        %img{alt: "", height: "225", src: "images/flow10_P4263178.jpg", width: "300"}/
    %li
      %h3 肩のマッサージをして終了します
      %p
        %img{alt: "", height: "225", src: "images/flow11_P4263189.jpg", width: "300"}/
