---
layout: false
---
!!! 1.1
%html{"xml:lang" => "ja", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title 脊椎矯正の越川治療院 ⇒ 行き方
    %meta{content: "INDEX,FOLLOW", name: "robots"}
    %meta{content: "naoto koshikawa", name: "author"}
    %meta{content: "越川治療院のホームページです", name: "description"}
    %meta{content: "整体,整骨,あん摩,あんまマッサージ,脊椎矯正,東洋医学,長生学園", name: "keywords"}
    %link{href: "mailto:info@koshikawa.jp", rev: "made"}
    %link{href: "./index.html", rel: "contents", title: "トップページ"}
    %link{href: "./c/standard.css", rel: "stylesheet", type: "text/css"}
    %link{href: "./koshikawa.ico", rel: "SHORTCUT ICON"}
    %script{src: "http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAWfwoZmEO-tJxjz-9ApDXCxT3TYMbo_XG-GY9d1hnyd_kTe1FTRSPzc6B5HAf_BbtgL8JYuEVxQ1RIw", type: "text/javascript"}
    :javascript
      //<![CDATA[

      	function load() {
      		if (GBrowserIsCompatible()) {
      		var map = new GMap2(document.getElementById("map"));
      		map.addControl(new GLargeMapControl());
      		map.addControl(new GMapTypeControl());
      		var point = new GLatLng(35.55362743431216,139.7386559844017);
      		map.setCenter(point, 16);
      		var marker = new GMarker(point);
      		map.addOverlay(marker);

      		var points = [];
      		points.push(new GLatLng(35.55258435065716, 139.73927557468414));
      		points.push(new GLatLng(35.55246651190151, 139.73961621522903));
      		points.push(new GLatLng(35.55252761350014, 139.73896980285645));
      		points.push(new GLatLng(35.5536470738324, 139.73873913288116));
      		points.push(new GLatLng(35.55362743431216,139.7386559844017));
      		var polyline = new GPolyline(points);
      		map.addOverlay(polyline);
      		}
       	}

          //]]>
  %body{onload: "load()", onunload: "GUnload()"}
    #map{style: "width: 580px; height: 380px"}
