#topContents
  %p#top_image
    %img{alt: "", src: "images/P4263253.jpg"}
  %h2 お知らせ
  %dl
    %dt
      2017年6月23日
    %dd
      %em
        長い間お休みさせていただき、大変ご迷惑をおかけ致しました。<br />
        申し訳ございませんでした。<br />
        <br />
        このたび、
        %em.red> 6月26日(月)
        より
        %em.red> 治療を再開
        いたします。よろしくお願い致します。
    %dt
      2017年6月14日
    %dd
      %em
        都合により、しばらくお休みさせていただきます。
    %dt
      2012年4月2日
    %dd
      2012年4月2日(月)より、月〜金曜日の治療終了時間が
      %em.red> 6時半まで
      と変更となりました。
    %dt 2011年11月11日
    %dd
      %a{href: "./map.html", title: "当院までの行き方です。"}> 行き方
      を更新しました。
    %dt 2009年5月10日
    %dd
      %a{href: "./map.html", title: "当院までの行き方です。"}> 行き方
      に駅からの道順を掲載しました。
    %dt 2009年5月6日
    %dd
      %a{href: "./flow.html", title: "実際の治療の流れを紹介します。"}> 治療の流れ
      を掲載しました。
    %dt 2005年7月16日
    %dd ホームページがオープンしました。
  %h2 治療時間
  %dl
    %dt 月曜～金曜日
    %dd
      午前９時　～　正午　午後２時　～　午後
      %span.red> ６
      時半
    %dt
      %span.blue 土曜日
    %dd
      午前９時　～　正午　午後２時　～　午後
      %span.red> ６
      時
    %dt
      %span.red 祭日・振替
    %dd
      午前９時　～　正午　午後２時　～　午後
      %span.red> ５
      時
    %dt 定休日
    %dd
      木曜日・
      %span.red 日曜日
  %h2 連絡先
  %dl
    %dt 住所
    %dd
      %address 東京都大田区西糀谷3-34-7
    %dt 電話番号
    %dd
      %address 03-5705-1224
  %p
    ご相談のある方は、
    %a{href: "./faq.html", title: "よくある質問にお答えします。"}> よくある質問
    をご覧になるか、
    %a{href: "./mail.html", title: "お問い合わせはこちらからお願いします。"}> お問い合わせ
    より承っておりますので
    %br>/
    お気軽にご相談下さい。
