#topContents
  %p#top_image
    %img{alt: "", src: "images/P4263253.jpg"}
  %h2 お知らせ
  %dl
    %dt
      2019年11月7日
    %dd
      %p
        この度、長期に渡る体調不良に改善が見られないため、
        %em.red> 令和元年11月7日
        をもちまして、越川治療院を
        %em.red> 閉院
        させていただくことと致しました。
      %p
        これまでご愛顧いただきました患者様には長年にわたるご厚情を賜り心より感謝申し上げます。
      %p
        また、突然の閉院で大変ご迷惑をおかけいたしますことを深くお詫び申し上げます。
      %p
        何卒ご理解の程、よろしくお願いいたします。

  %h2 治療院のご紹介
  %p 佐藤治療院をご紹介させて頂きます。
  %dl
    %dt 住所
    %dd
      %address
        %a{href: 'https://goo.gl/maps/Y6EzWknKwZHYw2vN7', target: "_blank"} 〒223-0058 横浜市港北区新吉田東2-17-28
    %dt 電話番号
    %dd
      %address
        %a{href: 'tel:0455434944'} 045-543-4944
