#topContents
  %p#top_image
    %img{alt: "", src: "images/P4263253.jpg"}
  %h2 お知らせ
  %dl
    %dt
      2019年11月7日
    %dd
      %p
        この度、長期に渡る体調不良に改善が見られないため、
        %em.red> 令和元年11月7日
        をもちまして、越川治療院を
        %em.red> 閉院
        させていただくことと致しました。
      %p
        これまでご愛顧いただきました患者様には長年にわたるご厚情を賜り心より感謝申し上げます。
      %p
        また、突然の閉院で大変ご迷惑をおかけいたしますことを深くお詫び申し上げます。
      %p
        何卒ご理解の程、よろしくお願いいたします。

  %h2 連絡先
  %dl
    %dt 住所
    %dd
      %address
        %a{href: data.info.maps.url, target: "_blank"} 東京都大田区西糀谷3-34-7
    %dt 電話番号
    %dd
      %address
        %a{href: 'tel:0357051224'} 03-5705-1224
