#topContents
  %p#top_image
    %img{alt: "", src: "images/P4263253.jpg"}
  %h2 お知らせ
  %dl
    %dt
      2019年10月13日
    %dd
      この度は、長い間お休みさせていただきまして、大変申し訳ございませんでした。
      %br
      %em
        10月15日(火)
      より、治療を再開させていただきます。
    %dt
      2019年9月3日
    %dd
      2019年10月1日より、
      %a{href: "./charge.html", title: "当院の料金表です。"}> 料金
      を改定させていただきます。
    %dt
      2017年6月25日
    %dd
      2017年
      %em.blue> 7月1日(土)
      より、
      %em> 全ての曜日
      の治療終了時間が
      %em.red> 午後5時まで
      と変更となります。
    %dt 2011年11月11日
    %dd
      %a{href: "./map.html", title: "当院までの行き方です。"}> 行き方
      を更新しました。
    %dt 2009年5月10日
    %dd
      %a{href: "./map.html", title: "当院までの行き方です。"}> 行き方
      に駅からの道順を掲載しました。
    %dt 2009年5月6日
    %dd
      %a{href: "./flow.html", title: "実際の治療の流れを紹介します。"}> 治療の流れ
      を掲載しました。
    %dt 2005年7月16日
    %dd ホームページがオープンしました。
  %h2 治療時間
  %dl
    %dt 月曜～土曜日・祝日・振替
    %dd
      午前９時　～　正午　午後２時　～　午後
      %span.red> ５
      時
    %dt 定休日
    %dd
      木曜日・
      %span.red 日曜日
  %h2 連絡先
  %dl
    %dt 住所
    %dd
      %address
        %a{href: data.info.maps.url, target: "_blank"} 東京都大田区西糀谷3-34-7
    %dt 電話番号
    %dd
      %address
        %a{href: 'tel:0357051224'} 03-5705-1224
  %p
    ご相談のある方は、
    %a{href: "./faq.html", title: "よくある質問にお答えします。"}> よくある質問
    をご覧になるか、
    %a{href: "./mail.html", title: "お問い合わせはこちらからお願いします。"}> お問い合わせ
    より承っておりますので
    %br>/
    お気軽にご相談下さい。
