#contents
  %h2 お問い合わせ
  %p
  %iframe{frameborder: "0", height: "620", marginheight: "0", marginwidth: "0", src: "https://docs.google.com/forms/d/1c1EwDhhIEuB7UR7Y7ZN-5gJ86aa9LRwpLISpXIB1TkQ/viewform?embedded=true", width: "760"} 読み込み中...
