#contents
  %h2 行き方
  %p
    当院に駐車場はございません。時間貸し駐車場をご利用ください。
  %dl
    %dt 住所
    %dd
      %address
        %a{href: data.info.maps.url, target: "_blank"} 東京都大田区西糀谷3-34-7
    %dt 電話番号
    %dd
      %address
        %a{href: 'tel:0357051224'} 03-5705-1224
  %p
    %img.map-image{src: "./images/map.png"}
  %p
    %iframe.map-iframe{height: "400", src: "./googleMap.html", width: "600"}
    = link_to data.info.maps.url, class: "map-link", target: "_blank" do
      GoogleMapで見る

  %h2 最寄り駅から越川治療院への道順
  %ol#route
    %li
      京浜急行 空港線 大鳥居駅西口からの道順をご案内します。
      %img.map-direction-image{alt: "駅からの道順1", src: "images/map01_P5093663.jpg"}
    %li
      改札を出て右手の環八道路に沿った方向へ向かいます。
      %img.map-direction-image{alt: "駅からの道順2", src: "images/map02_P5093664.jpg"}
    %li
      環八道路の脇の歩道に沿って歩きます。
      %img.map-direction-image{alt: "駅からの道順3", src: "images/map03_P5093666.jpg"}
    %li
      そのまま50mほど進むと
      %img.map-direction-image{alt: "駅からの道順4", src: "images/map04_P5093667.jpg"}
    %li
      TUTAYAさんとお花屋さんの脇に細い路地があります。
      %img.map-direction-image{alt: "駅からの道順5", src: "images/map05_P5093668.jpg"}
    %li
      路地を進みます。
      %img.map-direction-image{alt: "駅からの道順6", src: "images/map06_P5093672.jpg"}
    %li
      十字路を更に進みます。
      %img.map-direction-image{alt: "駅からの道順7", src: "images/map07_P5093679.jpg"}
    %li
      左手に看板が見えてきました。
      %img.map-direction-image{alt: "駅からの道順8", src: "images/map08_P5093682.jpg"}
    %li
      自転車を停めるスペースが見えてきました。
      %img.map-direction-image{alt: "駅からの道順9", src: "images/map09_P5093686.jpg"}
    %li
      到着しました。左手の入り口からお入り下さい。
      %img.map-direction-image{alt: "駅からの道順10", src: "images/map10_P5093684.jpg"}
