#contents
  %h2 行き方
  %p
    当院に駐車場はございません。時間貸し駐車場をご利用ください。
  %dl
    %dt 住所
    %dd
      %address
        %a{href: "http://www.mapion.co.jp/c/f?uc=1&grp=all&nl=35/33/01.450&el=139/44/30.906&scl=10000&bid=Mlink"} 東京都大田区西糀谷3-34-7
    %dt 電話番号
    %dd
      %address 03-5705-1224
  %p
    %img.image{src: "./images/map20120402.png"}/
  %p
    %iframe{height: "400", src: "./googleMap.html", width: "600"}
  %h2 最寄り駅から越川治療院への道順
  %ol#route
    %li
      京浜急行 空港線 大鳥居駅西口からの道順をご案内します。
      %img{alt: "駅からの道順1", height: "300", src: "images/map01_P5093663.jpg", width: "400"}/
    %li
      改札を出て右手の環八道路に沿った方向へ向かいます。
      %img{alt: "駅からの道順2", height: "300", src: "images/map02_P5093664.jpg", width: "400"}/
    %li
      環八道路の脇の歩道に沿って歩きます。
      %img{alt: "駅からの道順3", height: "300", src: "images/map03_P5093666.jpg", width: "400"}/
    %li
      そのまま50mほど進むと
      %img{alt: "駅からの道順4", height: "300", src: "images/map04_P5093667.jpg", width: "400"}/
    %li
      TUTAYAさんとカメラ屋さんの脇に細い路地があります。
      %img{alt: "駅からの道順5", height: "300", src: "images/map05_P5093668.jpg", width: "400"}/
    %li
      路地を進みます。
      %img{alt: "駅からの道順6", height: "300", src: "images/map06_P5093672.jpg", width: "400"}/
    %li
      十字路を更に進みます。
      %img{alt: "駅からの道順7", height: "300", src: "images/map07_P5093679.jpg", width: "400"}/
    %li
      左手に看板が見えてきました。
      %img{alt: "駅からの道順8", height: "300", src: "images/map08_P5093682.jpg", width: "400"}/
    %li
      自転車を停めるスペースが見えてきました。
      %img{alt: "駅からの道順9", height: "300", src: "images/map09_P5093686.jpg", width: "400"}/
    %li
      到着しました。左手の入り口からお入り下さい。
      %img{alt: "駅からの道順10", height: "300", src: "images/map10_P5093684.jpg", width: "400"}/
